ninja
trimesh
opencv-python
tensorboardX
numpy==1.26.4
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
scipy
xatlas
scikit-learn
imageio
imageio-ffmpeg
timm
einops
open3d
torchmetrics
tensorboard
torch-ema
cupy
scikit-image    
